<!-- File name: footer.ejs
   Name: Ibrahim Yusuf Patel
   Student ID: 301115080
   Date: 30/10/2020
-->

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy;&nbsp;Copyright Ibrahim Patel - COMP229 - MidTerm - Fall 2020. All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
