<!-- File name: index.ejs
   Name: Ibrahim Yusuf Patel
   Student ID: 301115080
   Date: 30/10/2020
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2><br>
            <p><em>"The more that you read, the more things you will know. The more that you learn, the more places you’ll go."</em></p>
            <p><b>~~~Dr. Seuss~~~</b></p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


